{{#models}}{{#model}}/*
 * {{description}}
 */
{{#imports}}
import {{{.}}};
{{/imports}}{{#isEnum}}
enum {{classname}} { {{#allowableValues}}
{{#enumVars}} {{{value}}},{{/enumVars}}
} {{/allowableValues}}
{{/isEnum}}{{^isEnum}}
{{#vars}}
{{^isContainer}}
    {{^isModel}}
    {{#isEnum}}
enum {{classname}} { {{#allowableValues}}
} {{/allowableValues}}
    {{/isEnum}}
    {{/isModel}}
    {{/isContainer}}
    {{#isContainer}}
    {{#items}}
        {{^isModel}}
        {{#isEnum}}
enum {{classname}} { {{#allowableValues}}
{{#enumVars}} {{{value}}},{{/enumVars}}
} {{/allowableValues}}
        {{/isEnum}}
        {{/isModel}}
        {{/items}}
    {{/isContainer}}
{{/vars}}


struct {{classname}} {
    {{#vars}}
    {{^isContainer}}
    {{^isPrimitiveType}}
    {{#isModel}}
    {{#isEnum}}
    {{datatype}} {{name}}; //enum model
    {{/isEnum}}
    {{^isEnum}}
    {{datatype}} {{name}}; //model
    {{/isEnum}}
    {{/isModel}}
    {{#isUuid}}
    {{datatype}} {{name}}; // uuid
    {{/isUuid}}
    {{#isEmail}}
    {{datatype}} {{name}}; // email
    {{/isEmail}}
    {{#isFreeFormObject}}
    {{datatype}} {{name}}; //object
    {{/isFreeFormObject}}
    {{/isPrimitiveType}}
    {{#isPrimitiveType}}
    {{#isNumeric}}
    {{datatype}} {{name}}; //numeric
    {{/isNumeric}}
    {{#isBoolean}}
    {{datatype}} {{name}}; //boolean
    {{/isBoolean}}
    {{#isEnum}}
    {{#isString}}
    {{name}} {{name}}; //enum
    {{/isString}}
    {{/isEnum}}
    {{^isEnum}}
    {{#isString}}
    {{datatype}} {{name}}; // string
    {{/isString}}
    {{/isEnum}}
    {{#isByteArray}}
    {{datatype}} {{name}}; //Byte
    {{/isByteArray}}
    {{#isBinary}}
    {{datatype}} {{name}}; //binary
    {{/isBinary}}
    {{#isDate}}
    {{datatype}} {{name}}; //date
    {{/isDate}}
    {{#isDateTime}}
    {{datatype}} {{name}}; //date time
    {{/isDateTime}}
    {{/isPrimitiveType}}
    {{/isContainer}}
    {{#isContainer}}
    {{#isListContainer}}
    {{#items}}{{datatype}}{{/items}}[] {{name}}; //list container
    {{/isListContainer}}
    {{#isMapContainer}}
    {{#items}}{{datatype}}{{/items}}[string] {{name}}; //map container
    {{/isMapContainer}}
    {{/isContainer}}
    {{/vars}}
}{{/isEnum}}
{{/model}}{{/models}}
